.footer_container {
  height: 300px;
  background-color: rgb(47, 44, 44);
  margin-top: 30px;
  color: white;
}
.footer_inner_one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.footer_inner_two {
  display: flex;
  justify-content: space-around;
  height: 30%;
  align-items: flex-end;
}
.logo_container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
}
.terms_container {
  width: 30%;
}
.quick_link_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all_right_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe_container {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
}
.social_handles_container {
  width: 30%;
}
.social_logo {
  margin: 0px 20px;
}
.sub_text {
  background-color: #00d47c;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
}
.quick_link_text {
  color: white;
}
.quick_link_text:hover {
  color: #00d47c;
}
@media screen and (width<620px) {
  .footer_container {
    height: 700px;
    background-color: rgb(47, 44, 44);
    margin-top: 30px;
    color: white;
    padding: 20px;
  }
  .logo_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
  }
  .quick_link_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  .subscribe_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    margin-top: 20px;
  }
  .footer_inner_one {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .footer_inner_two {
    display: block;
    justify-content: space-around;
    align-items: flex-end;
  }
  .terms_container {
    width: 100%;
    display: block;
    text-align: start;
    border-top: 1px solid lightgray;
    padding-top: 20px;
  }
  .all_right_container {
    width: 100%;
    display: block;
    text-align: start;
    margin-top: 5px;
  }
  .social_handles_container {
    width: 100%;
    margin-top: 20px;
  }
}
